@page:head {
    font-family: "Junicode";
    margin-bottom: 0.7mm; 
    text-align-last: justify; 
    font-size: 10pt;
}
.teiHeader {
    font-family: "Junicode";
    page-break-after: always;
}
.front {
    font-family: "Junicode";
}
.body2 {
    font-family: "Junicode";
}
.floatingText {
    padding: 6pt;
}
.title2 {
    space-after: 0;
}
.div1 {
    page-break-after: always;
}
.div2 {
    page-break-after: always;
}